body{
    background-color: rgb(8, 8, 45);
}
.container{
    margin: auto;
    margin-top: 200px;
    border: 5px solid rgb(221, 43, 165);
    height: 300px;
    width: 250px;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(221, 43, 165, 0.3);
}
h1{
    color: rgb(7, 7, 100);
    font-family: 'Anton', sans-serif;
    font-size: x-large;
}
input[type=text]{
    box-sizing: border-box;
    border: none;
    border-bottom: 5px solid rgb(221, 43, 165);
    background-color: transparent;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: large;
}
input[type=button]{
    border: none;
    border-radius: 15px;
    font-size: larger;
    font-family: 'Anton', sans-serif;
    font-weight: 750;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(7, 7, 100);
    background-color: rgb(221, 43, 165);
    padding: 10px 5px;
}
input:focus{
    outline: none;
}
input[type=button]:hover{
    background-color: rgb(7, 7, 100);
    color: rgb(221, 43, 165);
}
::-webkit-input-placeholder{
    color: red;
}